@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
/*   font-family:;
 */}
:root {
  --colour-one: #ffd1b7;
  --colour-two: #fee4d4;
  --colour-three: #fdb493;
  --colour-four: #fb966f;
  --colour-five: #f45f34;
  --colour-six: #302825;
  --colour-seven: #a69f9c;
  --colour-eight: #707e8d;
}

/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colour-one);
} */
.login_form {
    top: 50%;
    left: 50%;
  position: relative;
  border-bottom: 3px solid #74b9ff;
  border-right: 3px solid #74b9ff;
  border-left: 3px solid #74b9ff ;
  border-top:3px solid #74b9ff ;
  background: white;
  height: 400px;
  width: 700px;
/*   box-shadow: 5px 5px 5px 2px rgba(251,150,111,0.6);
 */  overflow: hidden;
}
.details {
  position: relative;
  background: var(--colour-two);
  height: 400px;
  width: 350px;
}
.welcome {
  position: absolute;
  color: var(--colour-six);
  left: 28%;
  top: 30%;
}
.wrap:nth-child(1) {
  position: absolute;
  top: 35%;
  left: 20%;
  margin: 12px;
}
.wrap:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 15px;
  margin: 12px;
}
.wrap:nth-child(3) {
  position: absolute;
  top: 68%;
  left: 20%;
  font-size: 15px;
  margin: 12px;
}
.input {
  border: 1px solid var(--colour-three);
  padding: 5px 20px;
  margin: 5px;
  border-radius: 5px;
  background: none;
/*   box-shadow: inset 10px 10px 6px -5px rgba(255,209,183,1);
 */}
label {
  color: var(--colour-eight);
  display: block;
}
.button {
  background: #0984e3;
  color: white;
  position: absolute;
  width: 80px;
  top: 70%;
  right: 10%;
  padding: 5px;
 /*  font-color: var(--colour-one); */
  border-radius: 5px;
  border: none;
}
.button .sign {
  color: #fff;
  font-size: 15px;
}
.fox {
  position: absolute;
  top: 25%;
  left: 55%;
  height: 50%;
}
.back {
  position: absolute;
  top: 44%;
  left: 56%;
  font-size: 20px;
}
.log {
  position: absolute;
  top: 50%;
  left: 56%;
  font-size: 14px; 
}
.acc {
  position: absolute;
  top: 62%;
  left: 56%;
  font-size: 15px;
}
.customer {
  position: absolute;
  top: 72%;
  left: 56%;
  font-color: var(--colour-five);
  background: var(--colour-four);
  border-radius: 5px;
  border: none;
}
.res {
  position: absolute;
  top: 72%;
  left: 76%;
  font-color: var(--colour-five);
  background: var(--colour-four);
  border-radius: 5px;
  border: none;
}
h3 {
  font-size: 14px;
  color: var(--colour-five);
  padding: 5px;
}