<div style="top:-50%" class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <div class="login_form">
                <div class="details">
                  <div class="welcome">SSO-AUTHENTIFICATION</div>
                  <form >
                    <div class="wrap">
                        <div class="col-auto">
                            <label class="sr-only"  for="inlineFormInputGroup">Login</label>
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><img width="20" height="20" src="../../assets/user.png" alt=""></div>
                              </div>
                              <input [(ngModel)]="username" name="phone" type="text" class="form-control" id="inlineFormInputGroup1" placeholder="Email or phone">
                            </div>
                          </div>
                      </div>
                    <div class="wrap">
                        <div class="col-auto">
                            <label class="sr-only"  for="inlineFormInputGroup ">Login</label>
                            <div class="input-group mb-2">
                              <div class="input-group-prepend">
                                <div class="input-group-text"><img width="20" height="20" src="../../assets/lock.png" alt=""></div>
                              </div>
                              <input [(ngModel)]="password" name="password" type="password" class="form-control" id="inlineFormInputGroup" placeholder="Password">
                            </div>
                          </div>
                      </div>
                
                    <button (click)="onSubmit()"  type="button" class="button"><h1 class="sign">Sign in!</h1></button>
                    <button (click)="generateApiKey()" class="btn btn-warning">Generate api key</button>
                  </form>
                </div>
                  <img class="fox" src="../../assets/shield.png" alt="">
               
                
              </div>

        </div>
        <div class="col-4">

        </div>
    </div>
</div>
